html {
  font-size: 20px;
}

body {
     font-family: "Arial", "Meiryo", sans-serif;
     text-align: center;
}
  
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 700

h1{
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: 2rem;
  font-weight: <weight>;
  font-style: normal;
}

h1 {letter-spacing: 1.2em;
    text-shadow: 2px 2px 3px gray;
    border-bottom:solid 3px rgb(115, 115, 114);
}


.text-skyblue {color: skyblue;}

.text-pink {color:  rgb(255, 192, 203) ;}

div>p { font-weight: bold;}